OPENAI_API_KEY=your-openai-key-here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY="your api key"
OPENROUTER_API_KEY= "your api key"
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1